bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/GoonRunner/FileContentIndex
/.vs/GoonRunner/v17/DocumentLayout.backup.json
/.vs/GoonRunner/v17/DocumentLayout.json
/.vs/GoonRunner/v17/.suo
